@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
.root-component-class {
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
