@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
.root-component-class {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow: hidden;
}

html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: auto;
}

body {
  min-height: 100svh;
}

* {
  box-sizing: border-box;
}
